@(usuario: Usuario)





@main("Detalle de Usuario") {
  <h1>Detalles del usuario @usuario.id</h1>
  <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Detalle</h3>
        </div>
        <div class="panel-body">
          <ul>
              <li><span style="font-weight: bold;">Login: </span>@usuario.login</li>
              <li><span style="font-weight: bold;">Nombre: </span>@usuario.nombre</li>
              <li><span style="font-weight: bold;">Apellidos: </span>@usuario.apellidos</li>
              <li><span style="font-weight: bold;">Email: </span>@usuario.eMail</li>
              @if(usuario.fechaNacimiento != null){
                <li><span style="font-weight: bold;">Fecha de nacimiento: </span>@usuario.fechaNacimiento.format("dd-MM-yyyy")</li>
              }
              <li><span style="font-weight: bold;">Nº Tareas: </span>

                  <a style="cursor: pointer" href="@routes.TareasController.listaTareas(usuario.id)"><span
                          class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                      @{
                      if(usuario.tareas.size() == 0)
                        "Sin Tareas"
                      else
                        usuario.tareas.size()
                      }
                  </a>
              </li>
          </ul>
          <a class="btn btn-primary" href="@routes.UsuariosController.editaUsuario(usuario.id)">Editar</a>


          @if(session.get("usuarioSesion") != null) {
            <a  class="btn btn-primary" href="@routes.UsuariosController.listaUsuarios()">Volver</a></p>

           }

        </div>
  </div>
}
