@(tareaForm: Form[Tarea], idUsuario: Integer, mensaje: String)


@scripts = {
    <script type="text/javascript">
    function validateForm() {
      var x, text;

      // Get the value of the input field with id="numb"
      x = document.getElementById("fechaTarea").value;

  var d = new Date();
  var parts =x.split('-');
  //please put attention to the month (parts[0]), Javascript counts months from 0:
  // January - 0, February - 1, etc
  var mydate = new Date(parts[2],parts[0]-1,parts[1]);

      // regular expression to match required date format
      re = /^(\d{1,2})-(\d{1,2})-(\d{4})$/;

    if(x!=''){
      if((mydate.getTime() < d.getTime()) || !x.match(re)){
      //alert("Invalid date: " + x);
      document.getElementById("demo").innerHTML = "fecha valida";
      return false;
    }
  }

return true;


}
    </script>
}


@main("Nueva Tarea",scripts) {
@if(mensaje != "") {
<div class="alert alert-danger">
    @mensaje
</div>
}
<h1>Crear tarea</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Nueva tarea</h3>
    </div>
    <div class="panel-body">
        @helper.form(action = routes.TareasController.grabaNuevaTarea(idUsuario) ) {
        @helper.inputText(tareaForm("descripcion"), '_label -> "Descripción")
        <div class="form-group">
            <label class="control-label">Estimación</label>
            <select name="estimacion">
                @for(estimacion <- EstimacionTareaEnum.values()) {
                <option value="@estimacion.id">@estimacion.toString()</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Estado</label>
            <select name="estado">
                @for(estado <- EstadoTareaEnum.values()) {
                <option value="@estado.id">@estado.toString()</option>
                }
            </select>
        </div>

@helper.inputText(tareaForm("fechaFinTarea"), 'id -> "fechaTarea", '_label -> "Fecha Fin Tarea (dd-mm-aaaa)")
<i id="demo" style="color:red"></i>
        <p>
            <input type="submit" class="btn btn-success" value="Guardar" onclick="return validateForm()">
            <a class="btn btn-danger" href="@routes.TareasController.listaTareas(idUsuario)">Cancelar</a></p>
        }

    </div>
</div>
}
