@(comentarioForm: Form[Comentario], idUsuario: Integer, idProyecto: Integer, mensaje: String)
@main("Modificar comentario") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Modificar comentario @comentarioForm("id").value</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Modificar comentario</h3>
        </div>
        <div class="panel-body">
            @helper.form( action = routes.ComentariosController.grabaComentarioModificado( idUsuario, idProyecto ) ) {
                <input type="hidden" name="id" value='@comentarioForm("id").value'>
                @helper.textarea( comentarioForm("comentario"), args = 'rows -> 3, 'cols -> 50 )
                <p>
                    <input type="submit" class="btn btn-success" value="Guardar">
                    <a class="btn btn-danger" href="@routes.ProyectosController.detalleProyecto( idProyecto, idUsuario )">Cancelar</a>
                </p>
            }
        </div>
    </div>
}
