@(tareas: List[Tarea], usuario: Usuario, mensaje: String, error: String)
@scripts = {
<script type="text/javascript">

    //Al cargar la página se crea el datatable
	$(document).ready(function() {
		var table = $('#listadoTareas').DataTable({
			"processing" : true,
			"serverSide" : true,
			"ajax" : "@routes.TareasController.busquedaTareas(usuario.id)",
			select : {
			        style: 'single',
			},
			dom: 'Bfrtip',
			buttons: [
			    {
                    text: 'Detalle',
                    className: 'botonDetalleListado'
                },
                {
                    text: 'Modificar',
                    className: 'botonModificarListado'
                },
                {
                    text: 'Eliminar',
                    className: 'botonEliminarListado'
                }
            ]
		});

        //Obtengo los botones
        var botones = table.buttons( ['.botonDetalleListado', '.botonModificarListado', '.botonEliminarListado'] );
        botones.disable();

        //Cuando selecciono algún registro
		table.on( 'select', function ( e, dt, type, indexes ) {
            if ( type === 'row' ) {
                var data = table.rows( indexes ).data().toArray();
                idTarea = data[0][0]
                urlDetalle = data[0][5]
                urlModificar = data[0][6]
                urlEliminar = data[0][7]
                botones.enable();
            }
        } );

        //Cuando deselecciono el registro seleccionado
        table.on( 'deselect', function ( e, dt, type, indexes ) {
            if ( type === 'row' ) {
                botones.disable();
            }
        } );

        //Se pincha en el botón detalle
        table.button( 0 ).action( function( e, dt, button, config ) {
            window.location.href=urlDetalle;
        } );

        //Se pincha en el botón editar
        table.button( 1 ).action( function( e, dt, button, config ) {
            window.location.href=urlModificar;
        } );

        //Se pincha en el botón eliminar
        table.button( 2 ).action( function( e, dt, button, config ) {
            del(urlEliminar);
        } );

	});

    //Función borrar: con confirmación
    function del(urlBorrar) {
      //Se añade confirmación de borrado
      if(confirm("¿Está seguro de querer borrar la tarea?")){
        $.ajax({

            url: urlBorrar,
            type: 'DELETE',
            success: function(results) {
                alert(results);
                //refresh the page
                location.reload();
            },
            error: function(results) {
                alert(results.responseText);
                location.reload();
            }
        });
        return true;
      }
      else return false;
    }

</script>
}
@main("Tareas del usuario "+usuario.id, scripts) {

<h1> Listado de tareas de @usuario.login - <a class="btn exportar"
                                                   href="@routes.TareasController.exportarTareas(usuario.id)" title="Exportar todas las tareas del usuario a un fichero .txt">Exportar tareas</a></h1>

<a class="btn btn-primary" href="@routes.TareasController.formularioNuevaTarea(usuario.id)">Nueva Tarea</a>
<a class="btn btn-primary" href="@routes.ProyectosController.listaProyectos(usuario.id)">Ver proyectos</a></p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped" id="listadoTareas">
            <thead>
            <tr>
                <th width="1%" />
                <th>ID</th>
                <th>DESCRIPCIÓN</th>
                <th>ESTADO</th>
                <th>ACCIÓN</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@if(mensaje != null) {
<div class="alert alert-success">
    @mensaje
</div>
}

@if(error != null) {
<div class="alert alert-danger">
    @error
</div>
}
}
