<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#menu-usuarios"><i class="fa fa-fw fa-user"></i> Usuarios
      <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="menu-usuarios" class="collapse">
        <li>
            <a href="@routes.UsuariosController.formularioNuevoUsuario()">Nuevo</a>
        </li>
        <li>
            <a href="@routes.UsuariosController.listaUsuarios()">Listado</a>
        </li>
    </ul>
    <a href="@routes.AcercaDeController.acercaDe()"><i class="fa fa-fw fa-users"></i> Acerca De</a>
</li>
